#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .el-scrollbar__wrap {
      margin: 0!important;
    }
    .el-scrollbar__wrap::-webkit-scrollbar {
      display: none;
    }
    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      width: 1.2em;
      height: 1.2em;
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      padding: 0 7px;
      background-color: $subMenuBg;
      .el-submenu__title {
        margin: 6px 0;
        padding-left: 25px!important;
        border-radius: 4px;
        background-color: var(--el-menu-item-bg-color) !important;
        box-shadow: 0px 0px 4px rgba(0, 94, 235, 0.1);
        box-sizing: border-box;
      }
      .el-menu--inline {
        padding: 0;
      }
    }
    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      span {
        vertical-align: unset !important;
      }
      font-size: 16px;
      background-color: $subMenuBg;
      &:hover {
        color: $primary-color!important;
        background-color: $menuHover !important;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu {
      background-color: $subMenuBg !important;
      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 75px !important;
    }

    .main-container {
      margin-left: 75px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    background-color: $subMenuBg;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-menu, .el-menu--vertical {
  .el-menu-item {
    display: flex;
    font-size: 16px;
    align-items: center;
    margin: 3px 0;
    padding-left: 25px!important;
    border-radius: 4px;
    background-color: var(--el-menu-item-bg-color) !important;
    box-shadow: 0px 0px 4px rgba(0, 94, 235, 0.1);
    box-sizing: border-box;
    &:hover {
      .svg-icon {
        color: $primary-color;
      }
      span {
        color: $primary-color;
      }
    }
    &.is-active {
      background-color: var(--el-menu-item-bg-color-active) !important;
      border: 2px solid $primary-color;

      &::before {
        position: absolute;
        border-radius: 4px;
        left: 12px;
        width: 4px;
        height: 14px;
        content: '';
        background: $primary-color;
      }
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }
  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    border: solid 1px var(--el-menu-border-color);
    border-radius: var(--el-border-radius-small);
    box-shadow: var(--el-box-shadow-light);
    background-color: var(--el-menu-bg-color)!important;
    padding: 4px 8px;
    max-height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
